.btn-add {
	width: 50%
	height: auto;
	horizontal-align: center;
	vertical-align: center;
	color: black;
}

.btn-save {
	width: 50%;
	horizontal-align: center;
	font-size: 20;
	height: auto;
}

.remove-icon {
	width: 20px;
	height: 20px;
}
