.msg-text {
	font-size: 14;
	color: white;
	horizontal-align: left;
	vertical-align: center;
}

.msg-time {
	font-size: 14;
	color: white;
	horizontal-align: right;
	vertical-align: center;
}

.msg-send-txt {
	font-size: 14;
	width: 75%;
	color: white;
}

.msg-send-btn {
	font-size: 14;
	width: 25%;
	height: auto;
	background-color: blue;
	color: white;
}