.main-layout {
	background-color: #ffd700;
	paddingTop: 2;
}

.lbl-countdown {
	font-size: 20;
	color: black;
}

.bkfst-post {
	background-color: black;
	width: 100%;
}

.btn-vote {
	background-color: transparent;
	width: 40;
	height: 40;
	font-size: 12;
	color: #ffd700;
}

.lbl-vote-count {
	horizontal-align: center;
    color: #ffd700;
}

.post-img {
	horizontal-align: center;
	width: 300px;
	height: auto;
}
