.fb-text {
    font-size: 14;
    horizontal-align: center;
    margin: 20;
    color: #d0d1e8
}

.fb-button {
    font-size: 24;
    horizontal-align: center;
    color: white;
    background-color: #3b5998
}

.fb-image {
	horizontal-align: center;
	max-width: 30px;
	height: auto;
}

.purdue-logo-title {
	font-size: 20;
	horizontal-align: center;
	color: #d0d1e8;
	margin: 20;
}

.purdue-logo {
	horizontal-align: center;
	max-width: 150px;
	width: 150px;
	height: auto;
}

.message {
    font-size: 20;
    color: #d0d1e8;/*#284848;*/
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}

.main-layout {
	background-color: #ffd700;
	paddingTop: 2;
}

ActionBar {
	horizontal-align: center;
	background-color: transparent;
}

Page {
	background-color: #ffd700;
}

.btn-view-side {
	background-image: http://i.stack.imgur.com/KVkTq.jpg;
	background-position: center;
	background-size: cover;
	width: 30px;
	height: 30px;
}

.lbl-countdown {
	color: black;
	font-size: 16;
	horizontal-align: right;
	vertical-align: center;
}

.menu-bar {
	background-color: #ffd700;
	color: black;
	padding: 5;
	width: 100%;
}
