.fb-text {
    font-size: 14;
    horizontal-align: center;
    margin: 20;
    color: #d0d1e8
}

.fb-button {
    font-size: 24;
    horizontal-align: center;
    color: white;
    background-color: #3b5998
}

.fb-image {
	horizontal-align: center;
	max-width: 30px;
	height: auto;
}

.purdue-logo-title {
	font-size: 20;
	horizontal-align: center;
	color: #d0d1e8;
	margin: 20;
}

.purdue-logo {
	horizontal-align: center;
	max-width: 150px;
	width: 150px;
	height: auto;
}

.message {
    font-size: 20;
    color: #d0d1e8;/*#284848;*/
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}



.btn-view-side {
	background-image: http://i.stack.imgur.com/KVkTq.jpg;
	background-position: center;
	background-size: cover;
	width: 30px;
	height: 30px;
}





/* USED BY ALL XML FILES */
ActionBar {
	horizontal-align: center;
	background-color: transparent;
}

Page {
	background-color: #B1810B;
}

Border {
	borderRadius: 0;
	borderWidth: 1;
	borderColor: transparent;
}

.menu-bar-border {
	border-color: gray;
}

.menu-bar {
	background-color: black;
	color: white;
	width: 100%;
}

.lbl-countdown {
	color: white;
	font-size: 16;
	horizontal-align: right;
	vertical-align: center;
}


.main-layout {
	background-color: #B1810B;
	paddingTop: 2;
	padding: 5;
}

.element-edit-layout {
	background-color: black;
	color: white;
	padding: 2;
}

.element-edit-lbl {
	font-size: 14;
	vertical-align: center;
}

.element-edit-single {
	font-size: 12;
	width: 100%;
}

.element-edit-multi {
	font-size: 12;
	width: 100%;
}

.element-btn {
	horizontal-align: center;
	width: 50%;
	font-size: 14;
	height: auto;
	color: black;
}

.element-img {
	horizontal-align: center;
	width: 100%;
	height: auto;
}

.element-time {
	background-color: white;
	horizontal-align: center;
}
